<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<dl>
  <% @entries.each do |entry| %>
    <dt><%= link_to entry.title, entry.url, target: :_blank %></dt>
    <dd><%= entry.author.uid %></dd>
    <dd><%== entry.content %></dd>
  <% end %>
</dl>
